* {
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed', sans-serif; 
}

#home
{margin-top: 75px;
height: 1500px;

}
.navbar{
    background-color: #a2217d;
}

/*//////////////////LOGIN START////////////////////////*/
#login
{
    height: 1000px;
    margin-top: 75px;
}
.login-row
{
    padding: 50px 150px;
    background-color: #a2217d;
}
.login-left{
    text-align: center;
    background-color: #fff;
    height: 500px;
    
}
.login-left img{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 25px;
}
.login-left p{
    font-size: 1.5em;
}
.login-left .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 20px;
}
.login-left h3{
    margin: 20px 0px;

}

.login-right{
    background-color:#9ac34d;
    height: 500px;
}
.login-right img{
    margin-top: 40px;
    margin-left: 90px;
    width: 50%;
    
}
.login-right .login-form{
    margin-top: 90px;
}
.login-right .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 38px;
    margin-left: 60px;
}

/*//////////////////PRODUCTS_PAGE////////////////////////*/
#products-page
{
    height: 1000px;
    margin-top: 75px;
}

.row-products h2{
        text-align: center;
        background-color: #9ac34d;
        
}
.row-tables{
    margin-top: 40px;
}

/*//////////////////ADD_PRODUCTS PAGE////////////////////////*/
#add-products
{
    height: 1000px;
    margin-top: 75px;
}
/*//////////////////SHOW-MORE PAGE////////////////////////*/
.show-more{
    
        padding: 50px 150px;
        margin-top: 20px;
        background-color: #a2217d;

    }
    .product-left{
        text-align: center;
        background-color: #fff;
        height: 500px;
        
    }.product-left img{
        width: 100%;
        height: 50%;
        margin-top: 10px;
    }
    .product-left h2{
        margin-top: 30px;
    }
    .product-right{
        background-color:#9ac34d;
        height: 500px;
    }
    .description-row
    {
        height: 40%;
    }


