* {
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed', sans-serif; 
}

#home
{margin-top: 75px;
height: 1500px;

}
#body-bg-color{
    background-color: #f1f3f6;
}
.navbar{
    background-color: #a2217d;
}

/*//////////////////LOGIN START////////////////////////*/
#login
{
    height: 1000px;
    margin-top: 75px;
}
.login-row
{
    padding: 50px 150px;
    background-color: #a2217d;
}
.login-left{
    text-align: center;
    background-color: #fff;
    height: 500px;
    
}
.login-left img{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 25px;
}
.login-left p{
    font-size: 1.5em;
}
.login-left .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 20px;
}
.login-left h3{
    margin: 20px 0px;

}

.login-right{
    background-color:#9ac34d;
    height: 500px;
}
.login-right img{
    margin-top: 40px;
    margin-left: 90px;
    width: 50%;
    
}
.login-right .login-form{
    margin-top: 90px;
}
.login-right .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 38px;
    margin-left: 60px;
}

/*//////////////////PRODUCTS_PAGE////////////////////////*/
#products-page
{
    height: 1000px;
    margin-top: 75px;
}

.row-products h2{
        text-align: center;
        background-color: #9ac34d;
        
}
.row-tables{
    margin-top: 40px;
}

/*//////////////////ADD_PRODUCTS PAGE////////////////////////*/
#add-products
{
    height: 1000px;
    margin-top: 75px;
}


/*//////////////////seller-product-details PAGE////////////////////////*/
.confirm-btn{
    min-width: 70px;
    margin-left: 15px;
}
.dp-img-box{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.dp-img-box img{
    width: 100%;
}
.ndp-img-box{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.ndp-img-box img{
    width: 100%;
}
.seller-image-upload-ndp{
    border: 1px solid black;
    padding: 15px;
    width: 100%;

}
.seller-image-upload-ndp:hover{
    background-color: #e9ecef;
    

}
.seller-image-upload-ndp img{
    width: 100%;
    
}
/*//////////////////section////////////////////////*/

#section-normal
{margin-top: 75px;
}

#section-25
{margin-top: 25px;
    margin-bottom: 25px;

}


 #ndp-file-upload ,#file-upload{
    display: none;
}
.seller-image-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/*//////////////////index///////////////////////*/
#sec-carousel{
    margin-top: 56px;
}
#sec-home{
    background-color: #f1f3f6;
    /* height: 700px; */
    padding-top: 25px;
}
.product-row{
    background-color: #fff;
    margin-bottom: 25px;
}
.category-helper-box{
    width: 100%;
    text-align: center;
    /* background-color: blue; */
    padding-top: 25px;
}
.category-helper-box img{
    width: 100%;
    margin-top: 51px;
}
.category-helper-box .btn{
    margin: 25px 0px;
}
.product-col{
    padding: 0 !important;
}
.product-col a{
text-decoration: none;
}

.product-box{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.product-box img{
    width: 80%;
    margin: 0 auto;
}
.product-box p{
    margin-bottom: 10px;
}

/*//////////////////product-details///////////////////////*/
#sec-product-details{
    margin-top: 55px;
    /* background-color: #9ac34d; */
}
#sec-product-details .row{
    background-color: #fff;
}
.product-img-box{
    padding: 25px;
}
#carouselProduct{
    border: 1px solid #e9ecef;

}

#carouselProduct .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a2217d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   #carouselProduct .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a2217d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.product-desc-box{
    padding: 25px;
}
.span-sp{
    font-size: 2em;
    font-weight: 700;
}
.span-mrp{
    font-size: 1.3em;
    margin-left: 20px;
    color: #878787;

}
.span-disc{
     font-size: 1.3em;
    margin-left: 20px;
    color: #9ac34d;
}

#product-details-table{

}
#product-details-table td{
    padding: 0 0 15px 0;
    border: none;

}
#product-details-table .td-left{
    font-size: 1.1em;
    color: #878787;
    width: 100px;
}
#product-details-table .td-right{
    font-size: 1.1em;
    text-align: justify;

}
.product-desc-box .btn-primary{
    width: 200px;
}
.product-desc-box .btn-secondary{
    width: 200px;
    margin-left: 25px;
}