* {
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed', sans-serif; 
}

#home
{margin-top: 75px;
height: 1500px;

}
.navbar{
    background-color: #a2217d;
}

/*//////////////////LOGIN START////////////////////////*/
#login
{
    height: 1000px;
    margin-top: 75px;
}
.login-row
{
    padding: 50px 150px;
    background-color: #a2217d;
}
.login-left{
    text-align: center;
    background-color: #fff;
    height: 500px;
    
}
.login-left img{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 25px;
}
.login-left p{
    font-size: 1.5em;
}
.login-left .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 20px;
}
.login-left h3{
    margin: 20px 0px;

}

.login-right{
    background-color:#9ac34d;
    height: 500px;
}
.login-right img{
    margin-top: 40px;
    margin-left: 90px;
    width: 50%;
    
}
.login-right .login-form{
    margin-top: 90px;
}
.login-right .btn{
    width: 70%;
    border-radius: 15px;
    margin-top: 38px;
    margin-left: 60px;
}

/*//////////////////PRODUCTS_PAGE////////////////////////*/
#products-page
{
    height: 1000px;
    margin-top: 75px;
}

.row-products h2{
        text-align: center;
        background-color: #9ac34d;
        
}
.row-tables{
    margin-top: 40px;
}

/*//////////////////ADD_PRODUCTS PAGE////////////////////////*/
#add-products
{
    height: 1000px;
    margin-top: 75px;
}


/*//////////////////seller-product-details PAGE////////////////////////*/
.confirm-btn{
    min-width: 70px;
    margin-left: 15px;
}
.dp-img-box{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.dp-img-box img{
    width: 100%;
}
.ndp-img-box{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
}

.ndp-img-box img{
    width: 100%;
}
.seller-image-upload-ndp{
    border: 1px solid black;
    padding: 15px;
    width: 100%;

}
.seller-image-upload-ndp:hover{
    background-color: #e9ecef;
    

}
.seller-image-upload-ndp img{
    width: 100%;
    
}
/*//////////////////section////////////////////////*/

#section-normal
{margin-top: 75px;
}

#section-25
{margin-top: 25px;
    margin-bottom: 25px;

}


input[type="file"] {
    display: none;
}
.seller-image-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

